{% extends "staff_dashboard/base.html" %}

{% block content %}

<h2>Engagement Details</h2>

<p><strong>Company:</strong> {{ engagement.request.company_name }}</p>
<p><strong>Team:</strong> {{ engagement.assigned_team.name }}</p>
<p><strong>Status:</strong> {{ engagement.status }}</p>
<p><strong>Start:</strong> {{ engagement.start_date }}</p>
<p><strong>End:</strong> {{ engagement.end_date }}</p>

<hr>

<h3>Tasks</h3>

<ul>
    {% for task in engagement.tasks.all %}
        <li>
            {{ task.title }} 
            ({{ task.status }}) 
            - Assigned to: {{ task.assigned_to.username }}
        </li>
    {% empty %}
        <li>No tasks created yet.</li>
    {% endfor %}
</ul>

<a href="{% url 'task_create' engagement.id %}">Add Task</a>

<br><br>
<a href="{% url 'request_list' %}">Back</a>

{% endblock %}